body{
    margin: 0;
    padding:0;
}

.banner_image{
    background-image: url(image/banner.jpg);
    height: 100vh;
   margin: 0;
   padding: 0;
}

.header_navbar{
    color: #f0cbb7;
}

.search_txt{
    margin: 400px 0 0 0;
    padding: 0;
}

.search_form{
    margin: 60px 0 0 0;
    padding: 0;
}