body{
    margin: 0;
    padding:0;
}

.banner_image{
    background-image: url(image/banner.jpg);
    height: 100vh;
   margin: 0;
   padding: 0;
}

.header_navbar{
    color: #f0cbb7;
    word-spacing: 20px;
}

.search_txt{
    margin: 400px 0 0 0;
    padding: 0;
}

.search_form{
    margin: 60px 0 0 0;
    padding: 0;
}

.banner_search{
    background-color: #d187b8;
    color: white;
    font-weight: 500;
}

.search_txtsize{
 font-weight: bold;
 font-family: Cormorant Garamond;
 font-size: 70px;
}

.find-someonesize{
    font-weight: bold;
    font-family: Cormorant Garamond;
    color: #d187b8;
    font-size: 70px;
   }

.Sign_upbgonly{
    background-color: #d187b8;
    color: white;
}

.Sign_upbg{
    background-color:white;
}

.Sign_upbg:hover{
    background-color: #d187b8;
    color: white;
    transition: all 3s linear;
}

.live{
    background-color: #f4f0ed;
    margin-top: 120px;
    height: 400px;
}

.live-someonesize{
    font-family: Cormorant Garamond;
    color: black;
    font-size: 30px;
    margin-top: 50px;
   }
   .live_image{
    margin-top: -130px;
   }

   .upgrade_font{
    font-weight: bold;
    font-family: Cormorant Garamond;
    color: #d187b8;
    font-size: 50px;
   }

   .contact_icon{
    display: flex;
    width: 80px;
    height: 80px;
    background-color:#f4f0ed;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #d187b8;
   }

   .contact_icon:hover{
    background-color:#d187b8;
    transition: all 1s linear;
    color: white;
 
   }

   .contact_icon span{
   color: white;
   }

   