body{
    margin: 0;
    padding:0;
}

img {max-width: 100%; height: auto;}


.banner_image{
    background-image: url(image/banner.jpg);
    width: 100vw;
    height:100vh;
    background-size: cover;
    background-attachment: fixed;
}

.header_navbar{
    color: #f0cbb7;
    padding-left: 20px;
}

.header_navbar:hover{
    color: #ffffff;
}

.search_txt{
    margin: 400px 0 0 0;
    padding: 0;
}

.search_form{
    margin: 60px 0 0 0;
    padding: 0;
}

.banner_search{
    background-color: #d187b8;
    color: white;
    font-weight: 500;
}

.search_txtsize{
 font-weight: bold;
 font-family: Cormorant Garamond;
 font-size: 70px;
}

.find-someonesize{
    font-weight: bold;
    font-family: Cormorant Garamond;
    color: #d187b8;
    font-size: 70px;
   }

.Sign_upbgonly{
    background-color: #d187b8;
    color: white;
}

.Sign_upbg{
    background-color:white;
}

.Sign_upbg:hover{
    background-color: #d187b8;
    color: white;
    transition: all 3s linear;
}

.live{
    background-color: #f4f0ed;
    margin-top: 120px;
    height: 400px;
}

.live-someonesize{
    font-family: Cormorant Garamond;
    color: black;
    font-size: 30px;
    margin-top: 50px;
   }
   .live_image{
    margin-top: -130px;
   }

   .upgrade_font{
    font-weight: bold;
    font-family: Cormorant Garamond;
    color: #d187b8;
    font-size: 50px;
   }

   .contact_icon{
    display: flex;
    width: 80px;
    height: 80px;
    background-color:#f4f0ed;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #d187b8;
   }

   .contact_icon:hover{
    background-color:#d187b8;
    transition: all 1s linear;
    color: white;
 
   }

   .contact_icon span{
   color: white;
   }

   .Search_By_Popular{
    background-color: #f4f0ed;
    margin-top: 50px;
}

.plusicon{
    background-color: #d187b8;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    padding: 22px 0 0 0;
    color: white;
    font-size: 25px;
}

.footer{
    background-image: url(image/footer.jpg);
    margin: 100px 0 0 0;
}

.footercolor{
    background-color: #d187b8;
}


.fa-minus:before, .fa-subtract:before {
    content: "\f068";}

    button.accordion:not(.collapsed) .plusicon .fa-plus::before {
        content: "\f068";}

 .mymother::before {
            content: "";
            width: 250px;
            height: 1px;
            background-color: #d187b8;
            position: absolute;
            left: 40px;
            bottom: 0;
          }

.mymother { position: relative; }

.message::after{
    content:"";
    width: 30px;
    height: 1px;
    margin: auto;
    background-color: #d187b8;
    display: block;
    margin-top: 20px;
}

.Sign_upbg::after{
    content:"";
    width: 30px;
    height: 1px;
    margin: auto;
    background-color: #d187b8;
    display: block;
    margin-top: 20px;

}

.Sign_upbg::after:hover{
    content:"";
    width: 30px;
    height: 1px;
    margin: auto;
    background-color: white;
    display: block;
    margin-top: 20px;

}

.icons_white{
    background-color: #f0cbb7;
    border-radius: 15%;
}

.hovertext{
color: white;
}


.navbar-collapse.show {
    background-color: rgba(0000, 0000, 0000, .5);
    transition: all .2s;
}